* {
    font-family: monospace;
}

.home{
    text-align: center;
    background-color: white;
    }

.croquehomepage{
    background-color: rgba(202, 213, 221, 0.87)
}


.center,
.croque{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
}

.frame{
    width: 30%;
    height: auto;
    text-align: center;
}

.bold{
    font-weight: bold;
    font-size: larger;
}

.larger{
    font-size: larger;
}

